/*SET COLOR SCHEME */
:root{
    --bgcolor: #ffc7cd;
    --maincolor: #fff;
    --lightaccent: #ffdee2;
    --darkaccent: #ff7887;
}

/*STYLING APPLIED TO EVERYWHERE */
*{
    text-align: center;  
    font-family:'Courier New', Courier, monospace;
}

body{
    background-color: var(--bgcolor);
}
main{
    position:relative;
    top: 150px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--maincolor);
    height: 50%;
    width: 420px;
    border-radius: 15px;
}
/*TEXT CONTENT FORMATTING */
h1 {
   background-color: var(--darkaccent);
   border-radius: 15px 15px 0 0;
   color: var(--maincolor);

}
h3{
    margin-top: -20px;
    color: var(--darkaccent);
}

h2{
    background-color: var(--lightaccent);
    font-size: 18px;
    /*OVERRIDE THE GLOBAL ALIGNMENT*/
    text-align: left !important;
    padding-left: 10px;
    color: grey;
}
p{
    /*OVERRIDE THE GLOBAL ALIGNMENT*/
    text-align:left !important;
    padding: 15px;
    font-size: 14px;
    margin-top: -10px;
}

#avatar{
    position: absolute;
    top: -120px;
    left: -80px;
    border-radius: 100px;
    width: 150px;
    border: 15px solid var(--maincolor);
}
/*NAV BUTTONS FORMATTING */
#icons {
    position: absolute;
    left: 0px;
    width: 100%;
    margin-top: -20px;
}
#icons button{
    border: 2px solid var(--darkaccent);
    border-radius: 8px 8px 0 0;
    background-color: var(--darkaccent);
    color: var(--maincolor);
    font-weight: bold;
}
#icons button:hover{
    border: 2px solid var(--maincolor);
    border: 2px solid var(--maincolor);
    border-radius: 8px 8px 0 0;
    background-color: var(--maincolor);
    color: var(--darkaccent);
}

table {
    border-radius: 3px;
    width: 90%;
    margin: 20px;
}
th{
    background-color: var(--darkaccent);
    color: var(--maincolor);
    font-weight:bold;
}

ul{
    justify-content:left;

    
}
li{
    text-align:left;
    list-style-type: none;

}
/*ADD HEARTS INSTEAD OF DOTS FOR BULLETS */
li:before{
    content: "❤";
    padding-right: 5px;
    font-size: 13px;
}

/*DESIGN OF THE WORK TILES*/

.workfolder{

    margin: 20px;
}
.workheader{
    border: 2px solid black;
    border-bottom: none;
    width: 40%;
    border-radius: 8px 8px 0 0;
    background-color: var(--darkaccent);
}
.workbody{
    border: 2px solid black;
    border-radius: 0 8px 8px 8px;
    background-color: var(--darkaccent);
}
#work-p{
    background-color: #fff;
    margin: 15px;
}